*{
    font-family: 'Mukta', sans-serif;
}
.bigbox{
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;

}
.sidebar{
    height: 60em;
    position: sticky;
    width: 40em;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: url("/images/bcbafd922c088c9a1dd579b68661c4f2.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainbar{
    height: 50em;
    display: inline-block;
    width: 67.75em;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 0.01);
}
.logo{
    height: 20em;
    width: 40em;
    background: rgba(0, 0, 0, 0.43);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo img{
    flex-shrink: 1;
    height: 16em;
}
.logo h1{

    margin-top: -0.4em;
    font-size: 5rem;

}